<!-- Table -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-bank-modal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No.</th>
            <th>Bank</th>
            <th>Account</th>
            <th>Account Holders</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < banks.length; i++){ %>

          <tr>
            <td><%= i + 1 %></td>
            <td><%= banks[i].bank %></td>
            <td><%= banks[i].account %></td>
            <td><%= banks[i].accountHolders %></td>
            <td>
              <img
                src="http://localhost:3000/<%= banks[i].imageUrl %>"
                alt="Bank"
                height="70px"
                width="70px"
              />
            </td>
            <td>
              <form
                action="/admin/bank/<%= banks[i].id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  type="button"
                  class="btn btn-warning btn-circle btn-sm button-edit-bank"
                  data-id="<%= banks[i].id %>"
                  data-bank="<%= banks[i].bank %>"
                  data-account="<%= banks[i].account %>"
                  data-holders="<%= banks[i].accountHolders %>"
                  ><i class="fas fa-edit"></i
                ></a>
                <button type="submit" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End of table -->
